
<aside>
	<!-- <hr> -->
	<div class="panel radius">
		<h3>About Me</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum mollitia blanditiis autem aspernatur commodi magni, consequuntur laudantium atque. Amet voluptas eum aliquam itaque maxime ratione nihil fugiat neque tempora vel!
		</p>
	</div>
	<div class="columns">
		<p><strong>{{ site.data.language.more_articles }}</strong></p>
		{% include list-posts entries='5' offset='1' %}
	</div>
	
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
	
</aside>