
<div class="fb-like" data-href="https://www.facebook.com/Coding-Hacks-106796220859993" data-width="50" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
<aside>
	<!-- <hr> -->
	<div class="panel radius">
		<h3>About Me</h3>
		<p>
			I'm a professional web developer. I work with both front-end and back-end. This is my personal blog, just to share some programming tricks with you. It's kindof my hobby to share some crazy stuff with others. I hope you'll like them too.
		</p>
	</div>
	<div class="columns">
		<p><strong>{{ site.data.language.more_articles }}</strong></p>
		{% include list-posts entries='5' offset='1' %}
	</div>
	
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
	
</aside>