.iframe-video{
    height: 315px;
    width: 560px;
}

@media only screen and (max-width: 640px){
    .iframe-video{
        width: 100%;
    }
}
@media only screen and (max-width: 644px){
    #logo{
        width: 100%;
    }
}

.highlight pre { 
    background-color: #272822; 
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.highlight{
    background-color: #272822;
}
code{
    color: white;
    background-color: #272822 ;
}
.highlight .hll { background-color: #272822; }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef; background-color: #1e0010 } /* Keyword */
.highlight .l { color: #ae81ff; background-color: #1e0010 } /* Literal */
.highlight .n { color: #f8f8f2; background-color: #1e0010 } /* Name */
.highlight .o { color: #f92672; background-color: #1e0010 } /* Operator */
.highlight .p { color: #f8f8f2; background-color: #1e0010 } /* Punctuation */
.highlight .cm { color: #75715e; background-color: #1e0010 } /* Comment.Multiline */
.highlight .cp { color: #75715e ; background-color: #1e0010} /* Comment.Preproc */
.highlight .c1 { color: #75715e; background-color: #1e0010 } /* Comment.Single */
.highlight .cs { color: #75715e; background-color: #1e0010 } /* Comment.Special */
.highlight .ge { font-style: italic; background-color: #1e0010 } /* Generic.Emph */
.highlight .gs { font-weight: bold; background-color: #1e0010 } /* Generic.Strong */
.highlight .kc { color: #66d9ef; background-color: #1e0010 } /* Keyword.Constant */
.highlight .kd { color: #66d9ef; background-color: #1e0010 } /* Keyword.Declaration */
.highlight .kn { color: #f92672; background-color: #1e0010 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef; background-color: #1e0010 } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef; background-color: #1e0010 } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef; background-color: #1e0010 } /* Keyword.Type */
.highlight .ld { color: #e6db74; background-color: #1e0010 } /* Literal.Date */
.highlight .m { color: #ae81ff ; background-color: #1e0010} /* Literal.Number */
.highlight .s { color: #e6db74; background-color: #1e0010 } /* Literal.String */
.highlight .na { color: #a6e22e; background-color: #1e0010 } /* Name.Attribute */
.highlight .nb { color: #f8f8f2; background-color: #1e0010 } /* Name.Builtin */
.highlight .nc { color: #a6e22e; background-color: #1e0010 } /* Name.Class */
.highlight .no { color: #66d9ef; background-color: #1e0010 } /* Name.Constant */
.highlight .nd { color: #a6e22e; background-color: #1e0010 } /* Name.Decorator */
.highlight .ni { color: #f8f8f2; background-color: #1e0010 } /* Name.Entity */
.highlight .ne { color: #a6e22e; background-color: #1e0010 } /* Name.Exception */
.highlight .nf { color: #a6e22e; background-color: #1e0010 } /* Name.Function */
.highlight .nl { color: #f8f8f2; background-color: #1e0010 } /* Name.Label */
.highlight .nn { color: #f8f8f2; background-color: #1e0010 } /* Name.Namespace */
.highlight .nx { color: #a6e22e; background-color: #1e0010 } /* Name.Other */
.highlight .py { color: #f8f8f2; background-color: #1e0010 } /* Name.Property */
.highlight .nt { color: #f92672; background-color: #1e0010 } /* Name.Tag */
.highlight .nv { color: #f8f8f2; background-color: #1e0010 } /* Name.Variable */
.highlight .ow { color: #f92672; background-color: #1e0010 } /* Operator.Word */
.highlight .w { color: #f8f8f2; background-color: #1e0010 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff; background-color: #1e0010 } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff; background-color: #1e0010 } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff; background-color: #1e0010 } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff; background-color: #1e0010 } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74; background-color: #1e0010 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74; background-color: #1e0010 } /* Literal.String.Char */
.highlight .sd { color: #e6db74; background-color: #1e0010 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74; background-color: #1e0010 } /* Literal.String.Double */
.highlight .se { color: #ae81ff; background-color: #1e0010 } /* Literal.String.Escape */
.highlight .sh { color: #e6db74; background-color: #1e0010 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74; background-color: #1e0010 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74; background-color: #1e0010 } /* Literal.String.Other */
.highlight .sr { color: #e6db74; background-color: #1e0010 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74; background-color: #1e0010 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 ; background-color: #1e0010} /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 ; background-color: #1e0010} /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2; background-color: #1e0010 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2; background-color: #1e0010 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 ; background-color: #1e0010} /* Name.Variable.Instance */
.highlight .il { color: #ae81ff ; background-color: #1e0010} /* Literal.Number.Integer.Long */

.highlight .gh { } /* Generic Heading & Diff Header */
.highlight .gu { color: #75715e;; background-color: #1e0010 } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672;; background-color: #1e0010 } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e;; background-color: #1e0010 } /* Generic.Inserted & Diff Inserted */



/* .checking-p{
    color: red;
} */